.wrapper {
    padding: 60px 160px 100px;
}
.title {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 100px;
    position: relative;
}
.title button {
    background-color: #3d1551;
    padding: 48px 20px;
    display: block;
    border: none;
}
.title h4 {
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: top left;
    position: absolute;
    color: #3d1551;
    font-size: 36px;
    bottom: 120px;
    left: 47%;
    font-family: 'Literata', serif;
    margin-bottom: 0;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.info h3 {
    color: #060208;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    font-family: 'Aceh', sans-serif;
}
.info div:nth-child(2) {
    background-color: #e8dbf9;
    padding: 70px 32px;
    position: relative;
}
.name p {
    text-align: end;
}
.info div:nth-child(2) p {
    font-family: 'Aceh', sans-serif;
    margin-bottom: 0;
}
.wrapper > button, .next {
    background-color: #3d1551;
    padding: 48px 20px;
    display: block;
    border: none;
}
.wrapper > button img, .next > img {
    transform: rotateY(180deg);
}
.mid {
    display: flex;
    align-items: flex-end;
}
.quoteL {
    position: absolute;
    top: 20px;
    left: 32px;
}
.quoteR {
    position: absolute;
    bottom: 20px;
    right: 32px;
}

@media screen and (max-width: 1250px) {
    .wrapper {
        padding: 60px 120px 100px;
    }
    button img {
        width: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 60px 100px 100px;
    }
}

@media screen and (max-width: 740px) {
    .wrapper {
        padding: 50px 20px 80px;
    }
    button img {
        width: 32px;
    }
    .title button, .next {
        padding: 28px 10px;
    }
    .title h4 {
        font-size: 24px;
    }
    .info div:nth-child(2) {
        padding: 48px 16px;
    }
    .info div:nth-child(2) svg {
        width: 24px;
        height: 24px;
    }
    .quoteL {
        left: 16px;
        top: 16px;
    }
    .quoteR {
        bottom: 16px;
        right: 16px;
    }
    .info {
        align-items: flex-end;
        gap: 28px;
    }
    .name p, .name h3 {
        text-align: end;
        margin-bottom: 0;
    }
}