.wrapper {
  padding: 40px 80px;
}
.wrapper h1 {
  font-family: "Literata", serif;
  font-size: 44px;
  font-weight: 700;
  color: #3d1551;
  margin-bottom: 24px;
  width: auto;
}
.searchBox {
  width: 96%;
  margin-left: 2%;
  position: relative;
  margin-bottom: 8px;
}
.searchBox input {
  padding: 10px 20px 10px 60px;
  width: 100%;
  font-size: 18px;
  font-family: "Aceh", sans-serif;
  border-radius: 6px;
  border: 1px solid #f3ebfc;
  outline: none;
}
.searchBox svg {
  position: absolute;
  left: 24px;
  top: 12px;
}
.express {
  font-size: 20px;
  font-family: "Aceh", sans-serif;
  font-style: italic;
  font-weight: 300;
  margin-left: 2%;
  color: #3d1551;
}

.main {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-items: flex-start;
  gap: 36px;
  margin-top: 20px;
}

@media screen and (max-width: 1250px) {
  .wrapper {
    padding: 50px 60px;
  }
  .wrapper h1 {
    font-size: 44px;
  }
  .main {
    gap: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 30px 45px;
  }
  .wrapper h1 {
    font-size: 40px;
  }
  .main {
    grid-template-columns: 200px 1fr;
  }
}

@media screen and (max-width: 740px) {
  .wrapper {
    padding: 30px;
  }
  .wrapper h1 {
    font-size: 36px;
  }
  .main {
    grid-template-columns: 1fr;
  }
  .searchBox, .express {
    width: 100%;
    margin-left: 0;
  }
}