.products {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.categories {
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 0;
    column-gap: 30px;
    gap: 30px;
    flex-wrap: wrap;
}
.categories h4 {
    text-wrap: wrap;
    font-family: "Aceh", sans-serif;
    cursor: pointer;
    font-size: 24px;
    /* transition: all 0.3s ease-in-out; */
}
.products .categories button {
    font-family: "Aceh", sans-serif;
    background-color: #3d1551;
    border-radius: 6px;
    font-size: 20px;
    padding: 10px;
    text-wrap: wrap;
    display: flex;
    gap: 12px;
    align-items: center;
    color: white;
    border: none;
}
.products main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;
    margin-top: 24px;
}
article.product {
    padding: 10px;
    box-shadow: 1px 1px 6px 1px rgba(61, 21, 81, 0.4);
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}
article.product > img {
    width: 100%;
    border-radius: 10px;
    height: 300px;
}
.price {
    font-family: "Aceh", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}
.price svg {
    vertical-align: top;
}
.name {
    margin-bottom: 0;
    font-family: "Aceh", sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.likeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}
.cartButton {
    border: 1px solid #3d1551;
    padding: 16px 8px;
    display: flex;
    gap: 28px;
    width: 100%;
    font-size: 17px;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}
.more {
    background-color: #f3ebfc;
    color: #060208;
    border-radius: 6px;
    margin: 40px 25%;
    text-align: center;
    padding: 20px;
    border: none;
    font-weight: 600;
}


@media screen and (max-width: 1250px) {
    .products main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .products header button {
        font-size: 19px;
    }
    header h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .products header {
        row-gap: 10px;
        column-gap: 30px;
        justify-content: unset;
    }
    article.product > img {
        height: 280px;
    }
}
  
@media screen and (max-width: 800px) {
    .wrapper {
      padding: 30px 45px;
    }
    .wrapper h1 {
      font-size: 36px;
    }
    .products main {
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }
  }
  
@media screen and (max-width: 568px) {
    .wrapper {
        padding: 20px 30px;
    }
    article.product {
        justify-content: space-between;
    }
    .cartButton {
        gap: 12px;
        padding: 8px;
    }
    .cartButton img {
        width: 20px;
        height: 20px;
    }
}