@font-face {
    font-family: Aceh;
    src: url(./assets/fonts/Aceh-Regular.otf) format('opentype');
}

.mainn {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 18px 100px;
    background-color: white;
    box-shadow: 2px 2px 6px 2px rgba(243, 235, 252, 0.3);
}
nav, .mobNav {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}
.cart {
    position: relative;
}
.cart p {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 14px;
    padding: 1px 5px;
    border-radius: 50%;
    font-weight: 700;
    color: #3d1551;
    font-family: "Literata";
}
.mobNav {
    display: none !important;
}
.ham {
    display: none;
}
.mainn div:first-child {
    display: flex;
    gap: 24px;
    align-items: center;
}
.searchBox {
    position: relative;
    width: 360px;
}
.searchBox input, .searchBoxSmall input {
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px solid #E3E3E3;
    width: 100%;
    font-size: 18px;
    outline: none;
}
.searchBox input::placeholder {
    font-size: 18px;
    color: #d3d3d3;
}
.searchIcon {
    position: absolute;
    top: 12px;
    right: 16px;
}
.mainn a {
    font-size: 20px;
    color: #060208;
    text-decoration: none;
    text-wrap: nowrap;
    font-family: 'Aceh', sans-serif;
}
.mobileNav {
    background-color: hsl(0, 0%, 100%);
    padding: 20px 24px 48px !important;
    width: fit-content !important;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.searchBoxSmall {
    margin-bottom: 20px;
    padding: 0 !important;
    width: 320px;
    position: relative;
}
dialog {
    transition: all ease-in 0.5s;
}
.close {
    margin-left: auto;
    width: unset;
    background-color: transparent;
    margin-top: 0;
    border: none;
    padding: 0;
}
.mobileNav a {
    font-size: 24px !important;
    font-weight: 500;
    color: #060208;
    text-decoration: none;
    text-wrap: nowrap;
}
.mobileNav .rent {
    display: block;
}

@media screen and (max-width: 1250px) {
    .mainn {
        padding: 18px 80px;
    }
    .logo {
        width: 140px;
    }
    .logo img {
        width: 100%;
    }
    .searchBox {
        width: 280px;
    }
    .mainn a {
        font-size: 18px;
    }
    nav, .mobNav {
        gap: 32px;
    }
}

@media screen and (max-width: 960px) {
    .mainn {
        gap: 24px;
        padding: 18px 60px;
    }
    .mainn a,
    .searchBox input,
    .searchBox input::placeholder {
        font-size: 16px;
    }
}

@media screen and (max-width: 740px) {
    .ham {
        display: block;
    }
    .rent {
        display: none;
    }
    .mainn {
        justify-content: space-between;
        padding: 18px 45px;
    }
    .searchBox {
        display: none;
    }
    .mainn nav {
        display: none;
    }
    .mobNav {
        display: flex !important;
    }
    .overlay {
        display: block;
    }
}

@media screen and (max-width: 568px) {
    .mainn {
        padding: 18px 30px;
    }
}